@charset "utf-8";

@font-face {
  font-family: 'acil_lujot';
  src: url("https://yasusho.github.io/qafopwa_pmcp_font/acil_lujot/acil_lujot.woff"), url("./fonts/acil_lujot.woff");
}

@font-face {
  font-family: 'xedixel';
  src: url("https://yasusho.github.io/qafopwa_pmcp_font/xedixel/xedixel.woff"), url("./fonts/xedixel.woff");
}

@font-face {
  font-family: 'cutapijot';
  src: url("https://yasusho.github.io/qafopwa_pmcp_font/cutapijot/cutapijot.woff"), url("./fonts/cutapijot.woff");
}

@font-face {
  font-family: 'ycaxen_light';
  src: url("https://meloviliju.github.io/ycaxen/light/ycaxen-light.woff"), url("./fonts/xedixel.woff");
}

@font-face {
  font-family: 'ycaxen_medium';
  src: url("https://meloviliju.github.io/ycaxen/medium/ycaxen-medium.woff"), url("./fonts/ycaxen-medium.woff");
}

@font-face {
  font-family: 'syt2ten1';
  src: url("https://raw.githubusercontent.com/tamoto-0x0/syt2_ten1_pmcp_font/master/fonts/syt2ten1.woff"), url("./fonts/syt2ten1.woff");
}

@font-face {
  font-family: 'rounded';
  src: url("https://yasusho.github.io/linmarn_font_project/fonts/rounded/linzklar_rounded.woff"), url("./fonts/linzklar_rounded.woff");
}

@font-face {
  font-family: 'lin-marn-bitmap-font';
  src: url("./fonts/lin-marn-bitmap-font.woff") format("woff");
}

@font-face {
  font-family: '風行雪笛';
  src: url('https://raw.githubusercontent.com/FengNegi/SY-Linzi/master/LinZi-1.woff'), url("./fonts/feng-negi.woff") format('woff');
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key {
    background-color: #000;
    border: 3px solid #474747;
    border-radius: 14px;
    color: #FFFFFF;
    font-size: 20px;
    height: 78px;
    width: 78px;
    margin: 10px;
    text-align: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.1s ease;
}

.key:hover {
    background-color: #111;
}

/* Shiny animation on hover */
.key:hover::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    border-radius: 14px;
    transition: opacity 0.15s ease;
}

.key:hover::before {
    animation: shine 0.4s forwards;
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

.keyboard {
    background-color: #2D2D2D;
    width: calc(8 * 105px);
    height: calc(4 * 105px);
    display: grid;
    grid-template-columns: repeat(8, 105px);
    grid-template-rows: repeat(4, 105px);
}

#download {
    margin-top: 10px;
    margin-bottom: 10px;
}

.output textarea {
    font-size: 200%;
}